body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: white;
    text-align: center;
}

a, button {
    font-size: 1rem;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}